/.settings/
/.buildpath
/.project
/config.php
/phpinfo.php
/.vscode
/.idea
/config.php-example
/README.md
/classes/NotificationHelper.php
/classes/NotificationHelper.php-example
/additionalData.php
/additionalData.example.php